

@media only screen and (max-width: 767px) {
    .aboutUsHeader{
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        margin-top: 1%;
    }
    
    .store_information_container{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .store_information_image {
        display: block;
    }
    
    .store_infomation_image img{
        width: 200px;
        height: 200px;
        text-align: center;
    }
    
    .store_information_content {
        text-align: center;
        font-size: 15px;
        margin-top: 1%;
        width: 90%;
    }
    
    .store_information_content .store_information_title{
        
        font-size: 20px;
        font-weight: bold;
    }

    
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .aboutUsHeader{
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-top: 1%;
    }
    
    .store_information_container{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .store_information_image {
        display: block;
    }
    
    .store_infomation_image img{
        width: 400px;
        height: 300px;
        text-align: center;
    }
    
    .store_information_content {
        text-align: center;
        font-size: 20px;
        margin-top: 1%;
        width: 80%;
    }
    
    .store_information_content .store_information_title{
        font-size: 30px;
        font-weight: bold;
    }
}
@media only screen and (min-width: 1025px) {
    .aboutUsHeader{
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-top: 1%;
    }
    
    .store_information_container{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .store_information_image {
        display: block;
    }
    
    .store_infomation_image img{
        width: 400px;
        height: 300px;
        text-align: center;
    }
    
    .store_information_content {
        text-align: center;
        font-size: 18px;
        margin-top: 1%;
        width: 80%;
    }
    
    .store_information_content .store_information_title{
        font-size: 30px;
        font-weight: bold;
    }
}
