/* horizontal menu */
.listScrollMenu {
    overflow-x: scroll;
    white-space: nowrap;
}

.listScrollMenu_item {
    display: inline-block;
    border: 1px solid black;
    background-color: white;
    padding: 10px 30px;
}

.listScrollMenu_item_icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 10px;
}

.listScrollMenu_item_name {
    margin: 0 auto;
    padding: 10px;
}

.listScrollMenu_item_icon img {
    max-height: 100%;
    max-width: 100%;
}

/*new list*/
#newStoreList {
    padding: 15px;
}

.listHeader {
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.listScrollMenu {
    padding: 5px;
    
}

.listScrollMenu_item_store {
    width: fit-content;
}

.lislistScrollMenu_item_price {
    width: fit-content;
}

.listScrollMenu_item_price_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
} 

/* Featured Stores*/

.list_display_store_card{
    display: inline-block;
    border: 1px solid black;
    background-color: white;
    padding: 10px 30px;
}

.list_display_store_icon img{
    width: 200px;
    height: 200px;
    display: block;
    padding: 10px 0;
    align-items: center;
}

.list_display_store_content{
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

.list_display_store_content_title{
    font-weight: bold;
    font-size: 20px;
}

main a, main a:visited{
    text-decoration: none;
    color:inherit;
}

@media only screen and (max-width: 767px){
    /* For Mobile */
    .list_display_stores{
        display: inline-block;
        border: 1px solid black;
        background-color: white;
        padding: 10px 30px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    /* For Tablet */
    .list_display_stores{
        display: inline-block;
        border: 1px solid black;
        background-color: white;
        padding: 10px 30px;
    }
}
@media only screen and (min-width: 1025px){
    /* For Desktop */
    .list_display_stores{
        display: inline-block;
        border: 1px solid black;
        background-color: white;
        padding: 10px 30px;
    }
}

/* Featured Products */
.list_display_product_card{
    display: inline-block;
    border: 1px solid black;
    background-color: white;
    padding: 10px 20px;
    margin: 0 10px;
}

.list_display_product_icon img{
    width: 250px;
    height: 250px;
    display: block;
    padding: 10px 0;
    align-items: center;
}

.list_display_product_content{
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

.list_display_product_content_title{
    font-weight: bold;
    font-size: 20px;
}

@media only screen and (max-width: 767px){
    /* For Mobile */
    .list_display_stores{
        display: inline-block;
        border: 1px solid black;
        background-color: white;
        padding: 10px 30px;
    }

    .list_display_product_card{
        display: inline-block;
        border: 1px solid black;
        background-color: white;
        padding: 10px 15px;
        margin: 0 10px;
    }

    .list_display_product_icon img{
        width: 200px;
        height: 200px;
        display: block;
        padding: 10px 10px;
        align-items: center;
    }

    .list_display_product_content{
        text-align: center;
        margin-top: 5px;
        font-size: 13px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    /* For Tablet */
    .list_display_stores{
        display: inline-block;
        border: 1px solid black;
        background-color: white;
        padding: 10px 30px;
    }
}
@media only screen and (min-width: 1025px){
    /* For Desktop */
    .list_display_stores{
        display: inline-block;
        border: 1px solid black;
        background-color: white;
        padding: 10px 30px;
    }
}





