.cookie-container {
    position: fixed;
    bottom: -100;
    left: 0;
    right: 0;
    background: #16151b;
    color: white;
    padding: 0 32px;
    overflow: visible;
    box-shadow: 0 -2px 16px rgba(22, 21, 27, 0.418);
    z-index: 2;
    transition: 400ms;
    display: none;
}

.cookie-container.active {
    bottom: 0;
    display: block;
}

.cookie-container a{
    text-decoration: underline;
    color: rgb(35, 200, 187);
}

.cookie-container p{
    margin: 24px 0;
    line-height: 2;
    color: white;
}
.cookie-butn{
    background: tomato;
    border: 0;
    color: white;
    padding: 12px 48px;
    font-size: 16px;
    margin-bottom: 16px;
    float: right;
    border-radius: 8px;
    cursor: pointer;
}
