main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

main section {
    width: 100%;
}

/*introduction*/
.title {
    font-weight: 700;
    font-size: 1.25em;
}

.itemnumber {
    font-size: 0.75em;
}

.introduction div {
    padding: 10px 20px;
}

.storeName {
    font-weight: 700;
    font-size: 1.1em;
}

/*storeCart*/
.product {
    height: 150px;
    margin-bottom: 10px;
    display: flex;
    padding: 20px 10px;
    background-color: white;
    box-shadow: 0 0 1px rgb(34, 33, 33);
    justify-content: flex-start;
    align-items: flex-start;
}


.prodContent {
    padding-left: 10px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.prodDesc {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.prodShortDescription {
    width: 40px;
}


.prodName h3{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
}

.action_button .action_button_remove:hover{
    color: blue;
    cursor: grab;
}

.action_button {
    margin-left: 20px;
    margin-top: 40px;
    font-size: 13.33px;
    text-decoration: underline;
    outline: none;
    background: none;
}

.prodDetails{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.productQuantity input[type="tel"]{
    width: 35px;
    padding: 1px 2px;
    font-size: 13px;
    text-align: center;
    border: 1px solid rgb(168, 168, 168);
}

.productPrice{
    font-size: 16px;
    font-weight: 600;
}


.productQuantity {
    display: flex;
}

.increaseQuantity {
    border: 1px solid rgb(168, 168, 168);
    padding: 6px 12px;
    height: 20px;
    text-align: center;
    font-size: 13px;
}

.decreaseQuantity{
    border: 1px solid rgb(168, 168, 168);
    padding: 6px 10px;
    height: 20px;
    text-align: center;
    font-size: 13px;
}

/*product display*/
.prodImg {
    width: 100%;
    height: 100%;
}

.prodImg img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    margin-left: 20px;
}

/*checkout section*/
.summary {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 1px grey;
}

.priceText {
    font-weight: 300;
    font-size: 0.9em;
}

.options {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 1px grey;
}

.options button {
    padding: 10px;
    font-size: 13px;
    border: none;
    color: white;
    border-radius: 2px;
}

.options button:hover{
    text-shadow: 0 0 2px white;
    box-shadow: 0 0 2px blue;
}

.orderBtn {
    background-color: #ba133a;
}

.continueBtn {
    background: darkgray;
}

@media only screen and (max-width: 767px){
    .prodContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .prodDetails{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .prodName h3{
        text-decoration: none;
        color: #000;
        font-weight: 500;
        font-size: 16px;
        margin-top: 0px;
        margin-left: 0px;
        width: 100%;
    }

    .productPrice{
        font-size: 13px;
        font-weight: 600;
    }
    

    .prodDesc{
        display: flex;
        align-items: center;
    }

    .increaseQuantity {
        border: 1px solid rgb(168, 168, 168);
        padding: 3px 5px;
        height: 20px;
        text-align: center;
        font-size: 10px;
    }
    
    .decreaseQuantity{
        border: 1px solid rgb(168, 168, 168);
        padding: 3px 5px;
        height: 20px;
        text-align: center;
        font-size: 10px;
    }

    .productQuantity{
        margin-top: 10px;
    }

    .action_button {
        font-size: 12px;
        text-decoration: underline;
        outline: none;
        background: none;
        margin-left: 0px;
        margin-top: 0px;
    }
}

@media all and (min-width: 768px) {
    main {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .introduction {
        flex-basis: 100%;
    }

    .storeCart {
        padding: 0 10px;
        flex-basis: 75%;
    }

    .product {
        border-radius: 5px;
        height: 175px;
        margin-bottom: 15px;
    }

    .prodImg {
        width: 175px;
    }

    .prodQuanity button {
        padding: 7px;
    }

    .prodQuanity label {
        font-size: 1em;
    }

    .checkout {
        flex-basis: 25%;
    }

    .prodName h3{
        text-decoration: none;
        color: #000;
        font-weight: 500;
        font-size: 16px;
        margin-left: 20px;
    }

    .productPrice{
        font-size: 15px;
        font-weight: 600;
    }

    .increaseQuantity {
        border: 1px solid rgb(168, 168, 168);
        padding: 3px 5px;
        height: 20px;
        text-align: center;
        font-size: 10px;
    }
    
    .decreaseQuantity{
        border: 1px solid rgb(168, 168, 168);
        padding: 3px 5px;
        height: 20px;
        text-align: center;
        font-size: 10px;
    }

    .prodDetails{
        margin-top: 5px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .prodContent {
        padding-left: 10px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    .prodDesc {
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    
}

@media all and (min-width: 1024px){
    main {
        max-width: 1300px;
    }

    .prodQuanity {
        padding: 5px 20px;
    }

    .product {
        height: 200px;
    }

    .prodImg {
        width: 200px;
    }

    .prodQuanity button {
        padding: 10px;
    }
}